body {
  color: #095ca0;
  font-family: "M PLUS 1 Code", sans-serif;
  background-image: url("");
  background-size: 100%;
}

footer {
  font-size: 12px;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 0 auto;
  text-transform: capitalize;
}

ul {
  margin: 15px auto;
  padding: 0;
}

.date-time {
  font-size: 18px;
  color: rgb(91, 113, 135);
}

.daily-temp {
  font-size: 64px;
  font-weight: 100px;
}

.forecast-day {
  text-align: center;
  padding-left: 20px;
  font-weight: 800px;
}

.input-form {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

.location-img {
  max-width: 50px;
}

.search-button,
.location-button {
  display: inline-block;
  background-color: #63baec;
  border: 1px solid #095ca0;
  border-radius: 6px;
  color: #095ca0;
}

.location-button {
  padding: 9px 20px;
}

.search-button {
  padding: 9px 20px;
  margin-left: 5px;
  margin-right: 0px;
}

.search-button:hover,
.location-button:hover {
  background-color: #095ca0;
  border: 1px solid #63baec;
  color: #63baec;
  cursor: pointer;
  transition: 0.3s ease-in all;
}

.units {
  font-size: 16px;
  position: relative;
  top: -35px;
}
.weather-app,
footer {
  border: 2px solid rgb(91, 113, 135);
  border-radius: 8px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.weather-temperature .active {
  color: rgb(44, 53, 62);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature img {
  height: 100px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.wrapper {
  max-width: 500px;
  margin: 0 auto;
}
